.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212d94;
  min-height: 100vh;
  color: aliceblue;
}

.sidebar {
  width: 10rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
}

.text-right {
  text-align: right;
  right: 0;
}

.sections {
  display: flex;
  flex-direction: column
}

.App-center{
  top: 47%;
  left: 25%;
  z-index: 3; 
  position: absolute;
  transform: translate(-50%,-50%);
  width: 50rem;
}
